name: Semgrep
 
on:
  pull_request: {}
 
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-20.04
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v2
      - uses: returntocorp/semgrep-action@v1
        with:
          config: >- 
            p/security-audit
            p/secrets
            p/nodejs
            
